---
default_language_version:
  # force all unspecified python hooks to run python3
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: ['--fix', 'lf']
        exclude: '.*\.(svg)$'
      - id: check-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-yaml
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
      - id: bandit
        args: ['-n', '5', '-c', 'pyproject.toml']
  - repo: https://github.com/lucas-c/pre-commit-hooks
    rev: v1.5.4
    hooks:
      - id: remove-tabs
        exclude: '.*\.(svg)$'
  - repo: https://opendev.org/openstack/hacking
    rev: 6.1.0
    hooks:
      - id: hacking
        additional_dependencies: ['neutron-lib']
        exclude: '^(doc|releasenotes|tools)/.*$'
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: .tox/pep8/bin/pylint
        files: '^.*\.py$'
        language: system
        types: [python]
        args: ['--rcfile=.pylintrc', '--output-format=colorized']
